{% extends 'allpages/base.html' %}
{% block maincontent %}
<br><br>
<h1>About us</h1>
<div class="post-container">                
    		<div class="post-thumb"><img src="../static/allpages/images/Gary.jpg" alt="FoodDriveMobile" /></div>
    		<div class="post-content">
        		<p>
			ShareFest was founded in 2007 by Gary Cheney, a New Lenox resident. He
			realized the depth of the need in his community and the surrounding
			areas and knew that he had to do something, so he started ShareFest.
			What was once meant to just help a few people, has expanded to not
			only make a difference but change the lives of thousands of people in
			its 10 year history.</br></br>
			Each year, ShareFest continues to grow and has acquired not only more
			 volunteers, but also more partner organizations and dedicated
			 committee members. There are so many ways to volunteer with
			 ShareFest and show your support for neighbors in need.</br></br>
			Don't miss out!
			</p>
			</div>
		</div>
	</div>
	<br><br><br>
{% endblock maincontent %}