{% extends 'allpages/base.html' %}
{% block maincontent %}
        <br><br>
        <h1>Donate or Sponsor ShareFest</h1>
        <h3>
                Follow this link to donate today: 
                <a href="https://www.paypal.com/donate/?cmd=_s-xclick&hosted_button_id=PLNY53T838BBJ">Donate Now!</a></br></br>
        </h3>
        <h3>
                Being a sponsor for ShareFest is a great way to make a difference and market your business.<br>
                <img src="../static/allpages/images/sponsors.jpg" alt="Sponsors">
        </h3>


{% endblock maincontent %}
