{% extends 'allpages/base.html' %}
{% block maincontent %}
	<br><br><br><br>
	<img src="../static/allpages/images/sharefest_fb.jpg" alt="Sharefest">
	<p>
	 How do we serve people in need? Last year ShareFest :</br></br>
	+ Distributed 452,253 lbs. (226 tons) of food providing 376,862 meals</br></br>
	+ Provided 44,453 lbs.. (22 Tons) of  books, clothes, and home items</br></br>
	+ Helped 200 people find a job</br></br>
	+ Contributed time and material to build 6 community gardens</br></br>
	+ Provided 9 communities with a “Love Your Neighbor” sharing & caring festival</br></br>
	+ Held environmental projects including  “Recyclepalooza” Will County’s largest reuse/recycling /collection event</br></br>
	</p>
	<p>Like and Share us on Facebook</p>
	<a href="https://www.facebook.com/ShareFestWillCounty/">Click here to go to our Facebook page now!</a>
	<br><br><br>
{% endblock maincontent %}
