{% extends 'allpages/base.html' %}
{% block maincontent %}
        <br><br>
        <h1>Map of Pantries</h1>
        <p>
        Link to locate pantries:
        <a href="https://willcountygis.maps.arcgis.com/apps/MapSeries/index.html?appid=f4468e45a40946ebac56bc5acd62b00d">MAP HERE!</a>
        <div class="map-box">
                <iframe src="https://willcountygis.maps.arcgis.com/apps/MapSeries/index.html?appid=f4468e45a40946ebac56bc5acd62b00d" width = "700px" height = "500px"></iframe>
        </div> 
        </p>
{% endblock maincontent %}