{% extends 'allpages/base.html' %}
{% block maincontent %}
	<br><br>
    <h1>Volunteering</h1>
    <p>Below are some Volunteering Opportunites</p>
    <a href="https://www.sharefestwillcounty.org/flyers">2020 Flyers</a>
	<div class="post-container">                
    	<div class="post-thumb"><img src="../static/allpages/images/PollutionSolutionOutings.png" alt="PollutionSolutionOutings" /></div>
    		<div class="post-content">
        		<h3 class="post-title">What are Pollution Solution Outings? How can I help?</h3>
        		<p>
					Pollution Solution Outings are short opportunities to volunteer
					in various communities that are seeing a lot of litter/trash, in
					other words pollution. Virgil Kemp spearheads a group called Helpers
					of Mother Earth that holds these clean up events in areas of greatest
					need. It can be a park, outside a school, near the interstate or in
					your neighborhood. Volunteers meet at specific locations bringing
					their own gloves and bottled water (wearing comfortable closed toed
					shoes) and volunteer for 2 hours, cleaning up anything they can find
					that shouldn't belong. At the end the pollution is gathered and
					volunteers pose for a picture. More pollution solution outings coming
					this fall! Contact Virgil at vkemp@helpersofmotherearth.org
				</p>
			</div>
		</div>
	</div>
	<div class="post-container">                
    	<div class="post-thumb"><img src="../static/allpages/images/VolunteerTogether.jpg" alt="VolunteerTogether" /></div>
    		<div class="post-content">
        		<h3 class="post-title">Volunteer-together we can solve hunger!</h3>
        		<p>
					ShareFest is proud to partners with the Northern Illinois Food Bank to feed our hungry neighbors. 
				</p>
				<p>Click <a href="www.solvehungertoday.org">Here</a> to help!</p>
			</div>
		</div>
	</div>
	<div class="post-container">                
    	<div class="post-thumb"><img src="../static/allpages/images/Recyclepalooza.jpg" alt="Recyclepalooza" /></div>
    		<div class="post-content">
        		<h3 class="post-title">What is Recyclepalooza? How can I help?</h3>
        		<p>
					Recyclepalooza is a 1-day event (generally 6-7 hours) that allows
					residents of from multiple counties to come to one location to drop
					off electronics, wood, metal, and house hold chemicals/paint for
					proper disposal. People can also drop off books, clothing, and food
					for donation. This event needs dozens of volunteers that can help
					take recyclables from each participants' cars and place them in the
					proper locations to be carted away and disposed of properly by
					partnering organizations.  Recyclepalooza 2018 will take place on
					September 8th from 8am-3pm at Spencer School Campus 1711 S. Spencer Rd. New Lenox.  
				</p>
				<p>People can register to volunteer at recyclepalooza by clicking
					<a href="https://www.signupgenius.com/index.cfm?go=s.signupnotfound">Here</a>
				</p>
			</div>
		</div>
	</div>
	<div class="post-container">                
    	<div class="post-thumb"><img src="../static/allpages/images/TroopCollections.jpg" alt="TroopCollection" /></div>
    		<div class="post-content">
        		<h3 class="post-title">How can I help collect for the troops?</h3>
        		<p>
					Each year, Linda Paschall from Catholic Charities and VFW 9545 in New 
					Lenox collects monetary donations and items for care packages to the 
					troops. Each week Linda diligently sends out 4 care packages. However, 
					the price of postage has gone up to $16.90 per box and so it is very 
					important that volunteers not only help collect item donations but 
					also monetary donations to send the packages.  
				</p>
				<p>To help Linda with this honorable project for the troops overseas, click
					<a href="https://www.signupgenius.com/index.cfm?go=s.signupnotfound">Here</a>
				</p>
			</div>
		</div>
	</div>
	<div class="post-container">                
    	<div class="post-thumb"><img src="../static/allpages/images/MobileEvents.jpg" alt="MobileEvents" /></div>
    		<div class="post-content">
        		<h3 class="post-title">How can I help at a Mobile Event?</h3>
        		<p>
					In years past, ShareFest has conducted a large main event that
					includes: clothing drive, book drive, home goods drive, food drive,
					blood drive, free legal services, and free health screenings
					(dental/eye exams), etc. In 2017 we are hoping to host 5 mobile 
					events that include a variety and items provided at our main events 
					in the past. These will take place in different communities on 5 
					different Saturday's throughout the year. These dates are: 4/8,
					6/3, 7/8, 8/9, & 9/16. </br></br>
					We believe at least 20-25 volunteers will be needed at EACH event to set up, run, and clean up. 
				</p>
				<p>If you want to volunteer to help us click <a href="https://app.vomo.org/org/HA8giAPxKdA0WGCBrfU1Z">Here</a></p>
			</div>
		</div>
	</div>
	<div class="post-container">                
    	<div class="post-thumb"><img src="../static/allpages/images/FoodDriveMobile.jpg" alt="FoodDriveMobile" /></div>
    		<div class="post-content">
        		<h3 class="post-title">How can I help with the Food Drive at the Mobile Event?</h3>
        		<p>
					Each year, the Northern Illinois Food Bank delivers a truck load 
					of donated food and other needed items to the ShareFest Main Event.
					This year, food will be distributed to those in need at our 6 different mobile events. 
				</p>
				<p>To help out with the food drive at a "Love Thy Neighbor" event click 
					<a href="https://app.vomo.org/org/HA8giAPxKdA0WGCBrfU1Z">Here</a>to register.
				</p>
			</div>
		</div>
	</div>
	<div class="post-container">                
    	<div class="post-thumb"><img src="../static/allpages/images/BookDriveMobile.jpg" alt="BookDriveMobile" /></div>
    		<div class="post-content">
        		<h3 class="post-title">How can I help with the Book Drive at a Mobile Event?</h3>
        		<p>
					Each year, ShareFest has more and more books donated. In 2017, 
					ShareFest gave away 20,000 books. In order to make this run smoothly, 
					volunteers are needed to sort and organize books at each mobile event. 
					Volunteers also may be asked to help cart books to peoples' cars.  
				</p>
				<p>To help with the Book Drive, click <a href="https://app.vomo.org/org/HA8giAPxKdA0WGCBrfU1Z">Here</a></p>
			</div>
		</div>
	</div>
	<div class="post-container">                
    	<div class="post-thumb"><img src="../static/allpages/images/ForestPreserveWork.jpg" alt="ForestPreserveWork" /></div>
    		<div class="post-content">
        		<h3 class="post-title">Forest Preserve Work Days</h3>
        		<p>
					Each year, ShareFest partners with the Forest Preserve District of Will 
					County to put on one or more work day events where volunteers can get 
					their hands dirty clearing brush, collecting seeds, and cleaning up 
					preserves. Volunteers are expected to wear closed toed shoes, wear 
					gloves, and be prepared to work in hot or damp weather.
				</p>
				<p>To help with a Forest Preserve Work day click 
					<a href="https://www.reconnectwithnature.org/get-involved/volunteer">Here</a>
				</p>
			</div>
		</div>
	</div>
	<br><br><br>
{% endblock maincontent %}
